@model IEnumerable<CrowdRecipe.Website.Models.Recipe>

@{
    ViewData["Title"] = "Discover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Discover</h1>

<div class="grid-container">
    @foreach(var item in Model)
    {
        <div class="grid-item">
            <div class="row">
                <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
                <h7>@Html.DisplayNameFor(modelItem => item.AuthorName): @Html.DisplayFor(modelItem => item.AuthorName)</h7>
            </div>
            <div class="row-5 justify-content-md-center">
                <div class="col sm">
                    @Html.DisplayNameFor(modelItem => item.Rating): @Html.DisplayFor(modelItem => item.Rating)
                </div>
                <div class="col-sm">
                    @Html.DisplayNameFor(modelItem => item.PrepTimeMinutes): @Html.DisplayFor(modelItem => item.PrepTimeMinutes) mins
                </div>
                <div class="col-sm">
                    @Html.DisplayNameFor(modelItem => item.CookTimeMinutes): @Html.DisplayFor(modelItem => item.CookTimeMinutes) mins
                </div>
            </div>
            <div class="row-1 justify-content-md-center">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="">View</a>
            </div>
        </div>
    }
</div>
