@model IEnumerable<CrowdRecipe.Website.Models.Recipe>

@{
    ViewData["Title"] = "All Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All Recipes</h1>

@if(User.Identity.IsAuthenticated)
{
 <p>
    <a asp-action="Create" class="btn btn-primary">Create Recipe</a>
</p>   
}

<div class="grid-container">
    @foreach(var item in Model)
    {
        <div class="grid-item">
            <div class="row">
                <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
                <h7>@Html.DisplayNameFor(modelItem => item.AuthorName): @Html.DisplayFor(modelItem => item.AuthorName)</h7>
            </div>
            <div class="row-5 justify-content-md-center">
                <div class="col sm">
                    @Html.DisplayNameFor(modelItem => item.Rating): @Html.DisplayFor(modelItem => item.Rating)
                </div>
                <div class="col-sm">
                    @Html.DisplayNameFor(modelItem => item.PrepTimeMinutes): @Html.DisplayFor(modelItem => item.PrepTimeMinutes) mins
                </div>
                <div class="col-sm">
                    @Html.DisplayNameFor(modelItem => item.CookTimeMinutes): @Html.DisplayFor(modelItem => item.CookTimeMinutes) mins
                </div>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="">View</a>
            </div>
        </div>
    }
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookTimeMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookTimeMinutes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { @id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { @id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>*@
