@model IEnumerable<CrowdRecipe.Website.Models.Recipe>

@{
    ViewData["Title"] = "All Recipes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 1em;
            grid-row-gap: 1em;
        }
        .grid-item {
            border: solid;
            border-width = 2px;
            border-color: black;
        }
    </style>
</head>

<h1>All Recipes</h1>

<p>
    <a asp-action="Create" class="btn-primary">Create New</a>
</p>

<div class="grid-container">
    @foreach(var item in Model)
    {
        <div class="grid-item">
            <h6>@Html.DisplayFor(modelItem => item.Title)</h6>
            <h7>@Html.DisplayFor(modelItem => item.AuthorName)</h7>
            <p>@Html.DisplayFor(modelItem => item.PrepTimeMinutes)</p>
            <p>@Html.DisplayFor(modelItem => item.CookTimeMinutes)</p>
            @Html.ActionLink("Details", "Details", new { @id=item.Id, @class="view-button" })
        </div>
    }
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookTimeMinutes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookTimeMinutes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { @id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { @id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { @id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>*@
